{% extends "base.html" %}
{%load cards_filter%}
{%block content%}
{{card.id}}

{%if cards.count > 0%}

		<div class="row ">
			<h1><i>Public Cards</i></h1>
			{%for card in cards.object_list %}	
				{%if card.id%}
					{%if card.v_type == 'public'%}
						<div class="col-md-8 col-sm-6 col-xs-12 blog_box1" >
							
								<div class="bog_box_content"><a href="/cards/all/{{card.id}}">
								<p><img src="/media/{{card.image}}" class="img-responsive2" ></p>
								</a>

								<a href="{{card.id}}">
								<p><h3>{{card.name}} </h3></p></a>
								<p><h3>{{card.desc|truncatewords:3|safe}}</h3></p>
								<p><a href="{{card.id}}" class="btn btn-primary" role="button">View</a> </p>
								</div>
							
							<hr>
						</div>
					{%endif%}

				
				{%endif%}
			{%endfor%}
		</div>

		{% for card in cards.object_list|filter_private_cards %}
				{%if card.v_type == 'private' %}
					{%if card.user.name == request.user.username%}
						{% if forloop.first %}
							<hr><h1><i>Private Cards</i></h1>
						{%endif%}
					{%endif%}
				{%endif%}
		{%endfor%}


		<div class="row">
			{% for card in cards.object_list|filter_private_cards %}
				{%if card.v_type == 'private' %}
					{%if card.user.name == user.username%}
						<div class="col-md-4 col-sm-6 col-xs-12">
						
							<a href="/cards/all/{{card.id}}">
							<p><img src="/media/{{card.image}}" width="330" height="200"></p>
							</a>

							<a href="{{card.id}}">
							<p><h3>{{card.name}} </h3></p></a>
							<p><h3>{{card.desc|truncatewords:3|safe}}</h3></p>
							<p><a href="{{card.id}}" class="btn btn-primary" role="button">View</a> </p>

						
						</div>
					{%endif%}
				{%endif%}
			{%endfor%}
		</div>
{%else%}
	<h1>bye</h1>
{%endif%}

{%endblock%}

